body .app {
  padding: 0 1.5em;
}
body .game-board {
    border-collapse: collapse;
}
body .game-board tr {  
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}
body .game-board tr td {
  padding: 0;
  width: 55px;
  height: 55px;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
}
body .game-board tr td:last-child {
  border-right: none;
}
body .game-board tr td:first-child {
  border-left: none;
}
body .game-board tr:first-child {
  border-top: none;
}
body .game-board tr:last-child {
  border-bottom: none;
}